html {
    scroll-behavior: smooth;
}

body {
    padding-top: 130px;
    color: #333333;
    font-family: "Noto Sans JP", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 130px;
    position: fixed;
    width: 100%;
    background-color: #F5CBDC;
    top: 0%;
    left: 0%;
    /**/
    border-bottom: solid 1px #EEEEEE;
    padding: 0 24px;
    z-index: 10000;
    justify-content: center;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 530px; */
}

.header-instaLink {
    display: flex;
    /* padding-left: 450px; */
    justify-content: center;
    position: absolute;
    right: 48px;
}

.mainvisual-nav-upper {
    display: flex;
    height: 400px;
}

.Planning {
    position: relative;
    width: 50%;
    background: url(../img/Planning.jpg) center / cover no-repeat;
    position: relative;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.Planning-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bolder;
    color: #fff;
    -webkit-text-stroke: 1px #dcf7de;
}

.Recruiting {
    width: 50%;
    background: url(../img/recruiting.jpg) center center / cover no-repeat;
    position: relative;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.Recruiting-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bolder;
    color: #fff;
    -webkit-text-stroke: 1px #cbebf7;
}

.Members {
    height: 525px;
    background: url(../img/入学式.jpg) center center / cover no-repeat;
    position: relative;
    border-top: 2px solid #fff;
}

.Members-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bolder;
    color: #fff;
    -webkit-text-stroke: 1px #ffdbd1;
}

.section {
    padding-top: 80px;
    margin-top: -80px;
}

.section-head {
    text-align: center;
}

.section-body {
    margin-top: 40px;
}

.section-lead {
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 100px;
}

.title-ja {
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: .05em;
    display: block;
    font-weight: bold;
}


.title-en1{
    font-weight: bold;
    display: block;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: .1em;
    margin-top: 8px;
    color: #f5cbdc;
    font-family: 'Plus Jakarta Sans', sans-serif
}

.title-en2{
    font-weight: bold;
    display: block;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: .1em;
    margin-top: 8px;
    color: #ffdbd1;
    font-family: 'Plus Jakarta Sans' ,sans-serif
}


/*イベント*/
.setsumei {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 20px
}

.event-list {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.event-item {
    display: flex;
    border-radius: 10px;
    background-color: #f5dfe7;
    min-height: 324px;
}

.event-item:nth-of-type(odd) {
    flex-direction: row-reverse;
    margin-right: 40px;
}

.event-item:nth-of-type(even) {
    margin-left: 40px;
}

.event-itemimage {
    border-radius: 10px;
    overflow: hidden;
    width: 550px;
    height: 350px;
    flex-shrink: 0;
    margin-top: -40px;
}

.img {
    width: 100%;
}

.event-itemimage img {
    object-fit: cover;
}

.event-item:nth-of-type(odd) .event-itemimage {
    margin-right: -40px;
}

.event-item:nth-of-type(even) .event-itemimage {
    margin-left: -40px;
}

.event-itembody {
    padding: 48px 56px;
    width: 100%;
}

.event-day {
    font-weight: bold;
    font-size: 58px;
    color: white;
    line-height: 1;
    letter-spacing: 0.05em;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.event-name {
    font-weight: bold;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin-left: 20px;
}

.event-outline {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.event-outlineitem::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/AA176309-06AB-41A1-B506-7C1DB73985EE.png);
    flex-shrink: 0;
    z-index: 1;
    background-size: contain;
}

.event-outlineitem {
    display: flex;
    text-align: center;
    font-weight: bold;
    gap: 8px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    align-items: center;
}

.event-description {
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    margin-top: 12px;
}

.footer {
    background-color: #F5CBDC;
}

.margin-bottom16px {
    margin-bottom: 16px;
}

.footer-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo-img {
    width: 300px;
}

.footer-logo2-li {
    color: #fff;
    font-size: 16px;
}

.footer-sns-img {
    width: 40px;
    height: 40px;
}

.footer-sns-img:hover {
    filter: brightness(10)
}

.header-instaLink:hover{
    filter: brightness(10)
}

.footer-bottom-par {
    border-top: #fff solid 1px;
    height: 40px;
    display: flex;
    align-items: center;
}

.footer-bottom-chi {
    display: flex;
    justify-content: center;
    color: #f5aaaa;
    width: 100%;
}

/*member*/
.members-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.members-item{
    box-sizing: border-box;
    margin: 0;
    width: 400px;
    height: 400px;
}



/*メインのページから飛んだページ（Planning,Recruiting,Members）のフッダー*/
.recruiting-footer {
    background-color: #cbebf7;
}

.recruiting-footer-bottom-chi {
    display: flex;
    justify-content: center;
    color: #56cefa;
    width: 100%;
}

.members-footer{
    background-color: #ffdbd1;
}

.members-footer-bottom-chi{
    display: flex;
    justify-content: center;
    color: #ff7e5a;
    width: 100%;
}

.planning-footer{
    background-color: #dcf7de;
}

.planing-footer-bottom-chi{
    display: flex;
    justify-content: center;
    color:  #4dff58;
    width: 100%;
}


/*メインのページから飛んだページ（Planning,Recruiting,Members）のヘッダー*/
.Planning-header{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #dcf7de;
    top: 0%;
    left: 0%;
    border-bottom: solid 1px #EEEEEE;
    padding: 0 24px;
    z-index: 10000;
}
.Recruiting-header{
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: #cbebf7;
    top: 0%;
    left: 0%;
    border-bottom: solid 1px #EEEEEE;
    padding: 0 24px;
    z-index: 10000;
}
.Members-header{
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: #ffdbd1;
    top: 0%;
    left: 0%;
    border-bottom: solid 1px #EEEEEE;
    padding: 0 24px;
    z-index: 10000;
}
.subPage-header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/*Recruiting*/
.recruiting-en{
    padding-top: -30px;
        font-size: 36px;
        line-height: 1.5;
        letter-spacing: .05em;
        display: block;
        font-weight: bold;
}
.recruiting-ja{
        font-weight: bold;
        display: block;
        font-size: 25px;
        line-height: 1.5;
        letter-spacing: .1em;
        margin-top: 8px;
        color: #cbebf7;
        font-family: 'Plus Jakarta Sans' ,sans-serif
}
.recruiting-title-lead-sentence{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.recruiting-section-body{
    padding: 20px 0 20px 0;
    margin-top: 40px;
}
.recruiting-img{
    border-radius: 40px;
    width: 400px;
    height: 300px;
}
.recruiting-name{
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin-left: 20px;
}
.recruiting-List{
    display: flex;
    flex-direction: row;
    gap:75px;
    align-items: center;
    justify-content: center;
}
.recruiting-button-page{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.recruiting-button{
    display: block;
    cursor: pointer;
    width: 200px;
    text-align: center;
    border: 1px solid #232323;
    border-radius: 10px;
}

.recruiting-deadline{
    font-weight: bold;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0.05em;
    font-family: 'Plus Jakarta Sans' , sans-serif;
    color: #626262;
}
.recruiting-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-top: 12px;
}
.recruiting-itembody{
    text-align: center;
}
.typeing {
    opacity: 0;
    font-weight: bold;
    display: block;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: .1em;
    margin-top: 8px;
    color: #26b9ef;
    font-family: 'Plus Jakarta Sans' ,sans-serif
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.typeing.active {
    opacity: 1;
    padding-top:20px;
    padding-bottom: 20px;
}


.section{
    padding-bottom: 60px;
}
*,body,ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  /* ↓ スライドの外枠 */
  .slide-wrapper {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden; /* はみ出したスライドを隠す */
  }
  /*  ↓ スライド（コンテンツ） */
  .slide { /*スライド全体 */
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
  }
  .slide div { /* スライド */
    width: 33.33%;
    height: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .slide1 { /* スライドさせるために必要なクラス */
    transform: translateX(0);
  }
  .slide2 { /* スライドさせるために必要なクラス */
    transform: translateX(-16.6666666667%);
  }
  .slide3 { /* スライドさせるために必要なクラス */
    transform: translateX(-33.3333333333%);
  }
  .slide4 { /* スライドさせるために必要なクラス */
    transform: translateX(-50%);
  }
  .slide5 { /* スライドさせるために必要なクラス */
    transform: translateX(-66.6666666667%);
  }
    .slide6 { /* スライドさせるために必要なクラス */
    transform: translateX(-83.3333333333%);
  }


.slider1{
    width: 500px;
}
.slider2{
    width: 500px;
}
.slider3{
    width: 500px;
}
.slider4{width: 500px;
}
.slider5{
    width: 500px;
}
.slider6{
    width: 500px;
}




  .slide div:nth-of-type(1){ /* 背景色 */
    background-color: #ffdbd1;
  }
  .slide div:nth-of-type(2){ /* 背景色 */
    background-color: #ffdbd1;
  }
  .slide div:nth-of-type(3){ /* 背景色 */
    background-color: #ffdbd1;
  }
  .slide div:nth-of-type(4){ /* 背景色 */
    background-color: #ffdbd1;
  }
  .slide div:nth-of-type(5){ /* 背景色 */
    background-color: #ffdbd1;
  }
  .slide div:nth-of-type(6){ /* 背景色 */
    background-color: #ffdbd1;
  }

  /* ↓ 左右のボタン */
  .next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
  }
  .prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
  }
  /* ↓ インジケーター */
  .indicator {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    column-gap: 18px;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }
  .indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
  }
  .indicator li:first-of-type {
    background-color: #000;
  }
  